*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* outline: 1px solid black;*/
}
body{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid: 
        "sidebar header" 20%
        "sidebar main" 1fr
        /20% 1fr; 
}
.sidebar{
    background-color: oklch(0.685 0.169 237.323);
    grid-area: sidebar;
    display: grid;
    grid: 
        "sidebar-top" auto
        "sidebar-bottom" 1fr
        / auto;
    padding: 20px;
    color: white;
    font-weight: 600;
    gap: 30px;
}
.sidebar ul{
    display: grid;
    gap: 20px;
}
.sidebar ul li,
.sidebar-top{
    list-style: none;
    display: grid;
    grid: 
        "icon text" auto
        / auto;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.sidebar-bottom img{
    grid-area: icon;
    height: 25px;
}
.sidebar-top img{
    grid-area: icon;
    height: 50px;
}
.sidebar-top img,
.sidebar-bottom img{
    filter: invert(1);
}
.sidebar-bottom p{
    grid-area: text;
}
.sidebar ul li:nth-child(6){
    margin-bottom: 30px;
}
.header{
    background-color: white;
    grid-area: header;
}
.main{
    background-color: oklch(0.872 0.01 258.338);
    grid-area: main;
}