*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    /* outline: 1px solid black;*/
    cursor: pointer;
}
body{
    min-height: 100vh;
    width: 100%;
    display: grid;
    grid: 
        "sidebar header" auto
        "sidebar main" 1fr
        /auto 1fr; 
}
.sidebar{
    background-color: oklch(0.685 0.169 237.323);
    grid-area: sidebar;
    display: grid;
    grid: 
        "sidebar-top" auto
        "sidebar-bottom" 1fr
        / auto;
    padding: 20px;
    color: white;
    font-weight: 600;
    gap: 30px;
}
.sidebar ul{
    display: grid;
    gap: 20px;
}
.sidebar ul li,
.sidebar-top{
    list-style: none;
    display: grid;
    grid: 
        "icon text" auto
        / auto;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.sidebar-bottom img{
    grid-area: icon;
    height: 25px;
}
.sidebar-top img{
    grid-area: icon;
    height: 50px;
}
.sidebar-top img,
.sidebar-bottom img{
    filter: invert(1);
}
.sidebar-bottom p{
    grid-area: text;
}
.sidebar ul li:nth-child(6){
    margin-bottom: 30px;
}
.header{
    background-color: white;
    grid-area: header;
    display: grid;
    grid: 
        "header-top-left header-top-right" 30%
        "header-bottom-left header-bottom-right" 70%
        /70% 30%;
    padding: 20px;
    gap: 30px;
}
.header img{
    height: 25px;
}
.header-top-left{
    grid-area: header-top-left header-top-right;
    display: grid;
    grid: 
        "search-icon search-bar" auto
        /auto 1fr;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.search{
    border-radius: 30px;
    height: 30px;
    border: none;
    background-color: lightgray;
}
.header-top-right{
    grid-area: header-top-right;
    display: grid;
    grid: 
        "bell profile user" auto
        /auto auto auto;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding-right: 75px;
    font-weight: 900;
}
.header-top-right img.profile{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    border-radius: 30px;
    background-size: cover;
}
.header-bottom-left{
    grid-area: header-bottom-left;
    display: grid;
    grid: 
        "profile text1" auto
        "profile text2" auto
        /auto auto;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-left: 10px;
    font-weight: 600;
}
.header-bottom-left img{
    grid-area: profile;
    height: 60px;
    width: 60px;
    border: 3px solid black;
    border-radius: 30px;
    background-size: cover;
}
.header-bottom-left p{
    padding-left: 10px;
}
.header-bottom-right{
    grid-area: header-bottom-right;
    display: grid;
    grid: 
        "button1 button2 button3" auto
        /min-content min-content min-content;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.header-bottom-right button{
    background-color: oklch(0.707 0.165 254.624);
    width: 100px;
    padding: 8px 12px;
    border: none;
    border-radius: 16px;
    color: white;
    font-weight: 600;
    font-size: 0.95em;
}
.main{
    background-color: oklch(0.872 0.01 258.338);
    grid-area: main;
    display: grid;
    grid:
        "main ann" auto
        "main trend" auto
        /auto auto;
    padding-top: 30px;
    align-content: flex-start;
}
.card img{
    height: 20px;
}
.card-container{
    display: grid;
    grid: 
        "card1 card2" auto
        "card3 card4" auto
        "card5 card6" auto
        /auto auto ;
    gap: 20px;
}
.card{
    background-color: white;
    border-radius: 15px;
    border-left: 10px solid orange;
    box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 466);
    font-size: 1em;
    padding: 20px;
    gap: 10px;
    display: grid;
}
.card div{
    justify-self: flex-end;
}
.card p:first-of-type{
    font-weight: 600;
}
.card p:last-of-type{
    color: gray;
}
.main-section{
    grid-area: main;
    display: grid;
    grid: 
        "head" min-content
        "cards" auto
        /auto;
    padding: 20px 20px;
    gap: 10px;
}

.ann-section{
    grid-area: ann;
    display: grid;
    grid: 
        "header" auto
        "card" auto
        /1fr;
    padding: 20px 20px;
    gap: 10px;
}
.trend-section{
    grid-area: trend;
    display: grid;
    grid: 
        "header" auto
        "card" auto
        /auto;
    padding: 20px 20px;
    gap: 10px;
}
.trend img{
    grid-area: picture;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}
.trending{
    display: grid;
    background-color: white;
    padding: 30px;
    align-content: center;
    gap: 10px;
    border-radius: 8px;
    box-shadow: 2px 1px 4px 1px rgba(0, 0, 0, 466);
}
.trend{
    display: grid;
    grid: 
        "picture user" auto
        "picture text" auto
        /auto auto;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.announcements{
    display: grid;
    background-color: white;
    padding: 10px;
    align-content: center;
    gap: 10px;
    border-radius: 15px;
}